
@model DataModel.ViewModel.UserStanderViewmodel
@{
    Layout = null;
    int z = 1;
    int firstStander = 1;
        int x = 1;

}
@inject BLL.catogeryRep.ICatogeryRep catogery
@inject BLL.Stander.IStanderRep Stander

<!DOCTYPE html>
<html lang="ar" dir="rtl">
    
     <!-- update this by the StanderId in JaveScript Code -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a website for siling machiens">
    <!-- link bootstrab css -->
    <link rel="stylesheet" href="~/price-master/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- link fontawesome css -->
    <link rel="stylesheet" href="~/price-master/css/all.css">
    <!-- link dropify css  -->
    <link rel="stylesheet" href="~/price-master/css/dropify.min.css">
    <!-- link animation css  -->
    <link rel="stylesheet" href="~/price-master/css/animate.min.css">
    <!-- google font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- custom style  -->
    <link rel="stylesheet" href="~/price-master/css/style.css">
    <title>Home</title>
</head>

<body>
    @{
        int id = ViewBag.id;
        var data = catogery.getUrlCatagery(id);

    }
    <div class="participate-exam">
        <div class="container-fluid px-0">
            <div class="header-of-the-tab">
                <button type="button" class="btn btn-lg btn-primary" disabled> @data.CatogeryName</button>
                <button type="button" class="btn btn-lg btn-primary fs-6" disabled>أولا : @data.SubCatogeryName
                </button>
            </div>
            <div class="the-sidbar mt-3">
                <div class="container-fluid">
                    <div class="row flex-nowrap">
                        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white shadow" style="overflow: hidden;">
                            <div
                                class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-white min-vh-100">
                                <h5
                                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none mx-0 flex-md-row flex-sm-column">
                                    المعايير
                                </h5>
                                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                                    id="menu">
                                    @foreach (var item in Stander.GetAllStander(id))
                                   {
                                       if (z==1)
                                        {
                                            firstStander = item.Id;
                                            <li  class="nav-item marked @z">
                                        <a  id="stander" href="#" class="nav-link px-0 ">
                                             <input id="ThisStander" type="hidden"value="@item.Id"/>
                                             <input class="n" type="hidden"value="@item.Id"/>
                                             <input class="z" type="hidden"value="@z"/>


                                            <div class="txt">
                                                <p class="ms-1 mb-0 ">@item.Number</p>
                                                <p class=" ms-1 mb-0 text-dark">@item.Name</p>
                                            </div>
                                        </a>
                                            </li>
                                        }
                                        else
                                        {
                                             <li class="nav-item @z">
                                        <a  href="#" class="nav-link px-0 ">
                                             <input class="n" type="hidden"value="@item.Id"/>
                                             <input class="z" type="hidden"value="@z"/>


                                            <div class="txt">
                                                <p class="ms-1 mb-0 ">@item.Number</p>
                                                <p class=" ms-1 mb-0 text-dark">@item.Name</p>
                                            </div>
                                        </a>
                                            </li>
                                        }
                                        z++;

                                   }
                                   
                                 
                                </ul>
                            </div>
                        </div>

                        <!-- ========================================================================================================================= -->
                        <!-- the content area  -->
                         <form asp-action="AddRequest" asp-controller="Home" enctype="multipart/form-data" class="tab-content col">
                        @foreach (var item in Stander.GetAllStander(id))
                       {
                           
                            <!-- ======================================================================================================================================== -->
                            <!-- content  -->
                            <div class="@x content diva"  >
                                <h6>ينبغي على المنشآة / المؤسسة أن توفر أدلة على :</h6>
                                <div class="row mt-4">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="quiz" class="text-box">
                                                    @{
                                                        int number = 0;
                                                    }
                                                    @foreach (var item1 in Stander.GetAllStanderQuection(item.Id))
                                                    {
                                                        
                                                        number++;
                                                        <div class="text-content d-flex">
                                                        <h4 class="number">@number</h4>
                                                        <h4 class="text">@item1.Queqsion
                                                        </h4>
                                                    </div>
                                                   
                                                    }
                                                    
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <textarea asp-for="Name" class="texta" id="text" maxlength="200"
                                                    placeholder="أكتب مشاركتك بما لا يزيد عن 200 كلمة"></textarea>
                                                    <span class="text-danger span">  Requierd</span>
                                                    <input type="hidden"class="thisstander">
                                            </div>
                                            <div class="col-12">
                                                <h6>إرفاق دليل المعيار (يمكنك رفع دليل في كل مرة)</h6>
                                                <div class="mb-3">
                                                    <input asp-for="files" class="form-control form-control-sm formFileSm" type="file"
                                                        id="formFileSm">
                                                    <div
                                                        class="btns-group mt-3 d-flex align-items-center justify-content-end gap-2">
                                                        <button id="but_upload" type="button"
                                                            class="save but_upload btn btn-outline-success">حفظ</button>
                                                        <button type="button"
                                                            class="delete btn btn-outline-danger">إالغاء</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <div class="attachments ">
                                            <div class="main-btn">
                                                <button type="button" class="btn btn-lg btn-primary w-100"
                                                    disabled>المرفقات</button>
                                            </div>
                                            <div
                                                class="other-btn my-3 d-flex align-items-center gap-2 justify-content-center">
                                                <input type="button"
                                                    class="attachment btn btn-primary btn-sm w-100"value="المرفق"/>
                                                <button type="button"
                                                    class="delete btn btn-primary btn-sm w-100">حذف</button>
                                            </div>
                                            
                                        </div>
                                        <div class="attach-preveiw">
                                            <img src="~/price-master/imgs/logo.png"  id="@x" class="img-thumbnail pathimg" alt="...">
                                            
                                                    <video  id="@x a" class="img-thumbnail vedio" controls>
                                                      Your browser does not support the video tag.
                                                    </video>
                                        </div>
                                        <div
                                            class="next-page-or-prev w-100 d-flex align-items-center justify-content-center gap-2 my-3">
                                            @if (x==z-1)
                                           {
                                               <button id="Saves" type="button" class="nxt-page btn btn-outline-success w-100">انهاء
                                                </button>
                                               <button type="button"  class="prev-page btn btn-outline-danger w-100 left">رجوع
                                                للخلف</button>
                                           }
                                                else if(x==1)
                                                {
                                                     <button id="Save @x"  type="button" class="nxt-page btn btn-outline-success w-100 Next">حفظ
                                                وانتقال</button>
                                                }
                                                else
                                                {
                                                     <button id="Save @x"  type="button" class="nxt-page btn btn-outline-success w-100 Next">حفظ
                                                وانتقال</button>
                                            <button type="button" id="left" class="prev-page btn btn-outline-danger w-100 left">رجوع
                                                للخلف</button>
                                                }
                                               

                                        </div>
                                    </div>
                                </div>
                                </div>
                                x++;
                            }
                       <button id="Saves" type="button" class="nxt-page btn btn-outline-success w-100">حفظ
                                                وانتقال</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a asp-action="index" asp-controller="Home"> 
     <button   type="button" class="nxt-page btn btn-outline-success w-100">
         خروج
                                               </button></a>

    <!-- bootstrap script include  -->
    <script src="~/price-master/js/bootstrap.min.js"></script>
    <!-- dropify script include  -->
    <script src="~/price-master/js/dropify.min.js"></script>
    <!-- jqeury script include  -->
    <script src="~/price-master/js/jquery-3.5.1.min.js"></script>
    <!-- fancybox script include  -->
    <script src="~/price-master/js/jquery.fancybox.min.js"></script>
    <!-- wow script include -->
    <script src="~/price-master/js/wow.min.js"></script>
    <!-- main js script include  -->
    <script src="~/price-master/js/main.js"></script>
</body>

</html>
<script>
$(document).ready(function(){
    $('.pathimg').hide();
    $('.vedio').hide();
    
    var cont=@x-@x +1;
    $("#"+cont).src="a";
   
    $(".diva").hide();
    $("."+cont).show();
    $(".span").hide();
    $(".delete").click(function(){
        var de=cont+" a";
        $("#"+cont).hide();
          document.getElementById(de).style.display = 'blok';
                 $("."+cont+" .attachment").val("المرفق");

    });
     $(".but_upload").click(function(){
        
       var aa=$("."+cont+" .formFileSm")[0].value.split('.')[1];
       $("."+cont+" .attachment").val("المرفق"+ aa);
      
          const [file] = $("."+cont+" .formFileSm")[0].files
  if (file) {
        var s=cont+" a";
      if(aa=="jpg"||aa=="png"){
          $("#"+cont).show();
          document.getElementById(s).style.display = 'none';

       document.getElementById(cont).src=URL.createObjectURL(file);

      }
      else if(aa=="mp4"||aa=="wmv"){
        
         
          $("#"+cont).hide();
          document.getElementById(s).style.display = 'block';
       document.getElementById(s).src=URL.createObjectURL(file);

      }
     
  }
   });
    $(".Next").click(function(){
       
        cont =cont + 1;
        
         $(".diva").hide();
    $("."+cont).show();
     $("li").removeClass("marked");
                     $("."+cont).addClass("marked");
    });
     $(".left").click(function(){
       
        cont =cont - 1;
       
         $(".diva").hide();
    $("."+cont).show();
     $("li").removeClass("marked");
                     $("."+cont).addClass("marked");
    });
   
    $("#Saves").click(function(){
        $(".span").hide();
        var zx=0;
        for(var aaa = 1; aaa < @x; aaa++){
             var Name=$("."+aaa+" .texta").val();
        var files = $("."+aaa+" .formFileSm")[0].files;

             alert (Name
             )
             if((Name==null || files.length == 0)||files.length == 0 || Name==""){
                 zx=zx+1;
                 
             }

        }
        if(zx!=0){
            alert("please enter All data");
        }
        else{
             for (var a = 1; a < @x; a++)
       {
           
           var fd = new FormData();
        var files = $("."+a+" .formFileSm")[0].files;
        var Name=$("."+a+" .texta").val();
       
        var Fk_Standard=$("."+a+" .thisstander").val();//update this by the StanderId
        
        // Check file selected or not
        if(files.length > 0&& Name!=null ){
           fd.append('files',files[0]);
             fd.append('Name',Name);
               fd.append('Fk_Standard',Fk_Standard);
           $.ajax({
              url: '/Home/AddRequest',
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function(response){
                 if(response != 0){
                    alert ("saved Sucess")
                    if(a=@x-1){
                        window.location.href="/Home/Index";
                    }
                 }else{
                    alert('file not uploaded');
                 }
              },
           });
        }else{
             $(".diva").hide();
    $("."+cont).show();
            $("."+a+" .span").show();
           alert("Please Insert data and select a file.");
        }
       }

        }
       
        
    });
});
</script>